<% @articles.each do |article| %>
	<h1 class="be-blue"><%= link_to article.title, article%></h1> 
	<div><%= article.body%></div>
	<div><%= article.location %> - <%= link_to "Eliminar", article, method: :delete, class:"botton-blue"%>
	</div>
	<div><%=current_user.email%></div>
<%end%>