<!DOCTYPE html>
<html>
  <head>
    <title>Eje Tour</title>
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<nav class="be-green be-blue large-padding">
  			<ul type="none" class="no list row center-xs middle-xs">
  				<li >
  					<h1 class="no-margin" id="logo" >Eje Tour</h1>
  				</li>
  				<li class="col-md">
  					<%= link_to "Inicio", root_path%>
  				</li>
  				<li class="col-md">
  					<%= link_to "Sitios Turisticos", articles_path%>
  				</li>
  				<li class="col-md">
  					<%= link_to "Agregar Sitios Turisticos", new_article_path%>
  				</li>

  				<li class="col-md">
  					<% unless current_user %>
  						<%= link_to "Entrar Con Facebook", user_facebook_omniauth_authorize_path %>
					  <% else %>
  						<%= link_to "Salir", destroy_user_session_path, method: :delete %>
					  <% end %>
          </li>

          <li class="col-md">
            <% unless current_user %>
              <%= link_to "Entrar Con Google", user_google_oauth2_omniauth_authorize_path %>
            <% end %>
  				</li>

  				<% if current_user %>
  				<li class="col-md ">
						<div><%=current_user.name%></div><div><image alt="photo" height="42" width="42" ><%= image_tag(current_user.image) %></image></div>
  				</li>
  				<% end %>
  			</ul>
  			
  		</nav>
  	</header>
  	
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
