<!DOCTYPE html>
<html>
  <head>
    <title>Eje Tour</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>
  <style type="text/css">
    body{
     color: #ffffff;
    }
  </style>
  <style type="text/css">
    .navbar-default {
  background-color: #5960b6;
  border-color: #6b7d85;
}
.navbar-default .navbar-brand {
  color: #fdffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #eeeeee;
}
.navbar-default .navbar-text {
  color: #fdffff;
}
.navbar-default .navbar-nav > li > a {
  color: #fdffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #eeeeee;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #5960b6;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #fdffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #eeeeee;
  background-color: #6b7d85;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #6b7d85;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #eeeeee;
  background-color: #6b7d85;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #eeeeee;
  background-color: #6b7d85;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #eeeeee;
  background-color: #6b7d85;
}
.navbar-default .navbar-toggle {
  border-color: #6b7d85;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #6b7d85;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fdffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fdffff;
}
.navbar-default .navbar-link {
  color: #fdffff;
}
.navbar-default .navbar-link:hover {
  color: #eeeeee;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fdffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #eeeeee;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #eeeeee;
    background-color: #6b7d85;
  }
}
  </style>
  
  <body>
  <div class="container">
    <br>
  	<header>
  		<nav class="navbar navbar-default navbar-fixed-top ">
  			<div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
              <span class="sr-only"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand"><strong>EjeTour</strong></a>
          </div>


          <div class="collapse navbar-collapse" id="navbar1">
            <ul class="nav navbar-nav">
              <li><%= link_to "Inicio", root_path%></li>
              <li><%= link_to "Sitios Turisticos", articles_path%></li>
              <li><%= link_to "Agregar Sitios Turisticos", new_article_path%></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Sesi贸n <span class="caret"></span>
                </a>
                  <ul class="dropdown-menu">
                    <li><a href="">
                    <% unless current_user %>
                      <%= link_to "Iniciar Sesi贸n Con Google", user_google_oauth2_omniauth_authorize_path %>
                    <% end %></a></li>
                    <li><a href="">
                    <% unless current_user %>
                       <%= link_to "Iniciar Sesi贸n Con Facebook", user_facebook_omniauth_authorize_path %>
                    <% else %>
                      <%= link_to "Cerrar Sesi贸n", destroy_user_session_path, method: :delete %>
                    <% end %></a></li>
                  </ul>
              </li>
              
              <li><% 
                if current_user %>
                  <strong><%=current_user.name%></strong> <%= image_tag(current_user.image, size: "50x50") %>
                <% end %></li>
            </ul>

            <% if current_user %>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Salas De Chat<span class="caret"></span>
                </a>
                  <ul class="dropdown-menu">
                    <li><a href="">
                    <% current_user.chatroom.each do |chatroom| %>
                      <li><%= link_to chatroom.name, chatroom, data: {behavior: "chatroom-link", chatroom_id: chatroom.id} %></li>
                    <%end%>
                    </a></li>
                  </ul>
              </li>
            </ul>
            <%end%>
          </div>
         
  	</header>
  	
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    </div>
  </body>
</html>
